.contact-section {
  padding: 20px 25px;
  color: #f0e8c6;
  
}

.contact-title {
  font-size: 2rem;
  font-weight: 700;
  color: #f5c518;
  margin-bottom: 15px;
  border-left: 5px solid #f5c518;
  padding-left: 12px;
  text-align: left;
}

.contact-intro {
  padding-top: 20px;
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 30px;

}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  font-size: 1rem;
  color: #f0e8c6;
  text-align: left;
}

input,
textarea {
 
  padding: 10px 14px;
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  color: white;
  font-size: 0.95rem;
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #f5c518;
  background: rgba(255, 255, 255, 0.1);
}

.submit-button {
  background: rgba(253, 239, 202, 0);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  /* Remove border on bottom and right */
  border-bottom: none;
  border-right: none;

  box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.25);
  /* shadow on bottom-right */

  color: #f5c518;
  padding: 12px 24px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-size: 1rem;
  width: fit-content;
  align-self: flex-end;
}

.submit-button:hover {
  transform: scale(1.05);
}