.intro-container {
  position: fixed;
  inset: 0;
  background: rgb(28, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: pointer;
  transition: opacity 1s ease;
  overflow: hidden;
}

.expanding-name {
  font-weight: bold;
  color: #f5c518;
  display: flex;
  gap: 8px;
  transition: font-size 0.4s ease;
}

.letter-part {
  transition: all 1s ease;
  display: inline-block;
  opacity: 1;
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.4),
}

.entry .left {
  transform: translateY(-100vh);
  opacity: 0;
}

.entry .right {
  transform: translateY(100vh);
  opacity: 0;
}

.pause .left,
.expand .left,
.ready .left {
  transform: translateY(0);
  opacity: 1;
}

.pause .right,
.expand .right,
.ready .right {
  transform: translateY(0);
  opacity: 1;
}

.exit .left {
  transform: translateY(-100vh);
  opacity: 0;
}

.exit .right {
  transform: translateY(100vh);
  opacity: 0;
}

.intro-container.exit {
  opacity: 0;
  pointer-events: none;
}