.projects-section {
  padding: 20px 25px;
  box-sizing: border-box;
  color: #f0e8c6;
}

.projects-title {
  font-size: 2rem;
  font-weight: 700;
  color: #f5c518;
  margin-bottom: 25px;
  border-left: 5px solid #f5c518;
  padding-left: 12px;
  text-align: left;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

/* Wrapper for card + title */
.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Card with just the image */
.project-card {
  background: rgba(253, 239, 202, 0.056);
  box-shadow:
    /*-1px -1px 2px rgba(255, 255, 255, 0.2),    thin white shine top-left */
    6px 6px 14px rgba(0, 0, 0, 0.25);
  /* soft shadow bottom-right */
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);

  border-radius: 10px;
  overflow: hidden;

  width: 100%;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;

}

.project-title {
  margin-top: 10px;
  font-size: 15px;
  color: #ddd;
  text-align: left;
  width: 100%;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  text-align: left;
  width: 100%;
}

.tech-tag {
  background: rgba(253, 239, 202, 0.056);
  box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  color: #f5c518;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 12px;
  letter-spacing: 0.03em;
  white-space: nowrap;
}